* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*Estrutura da pagina*/

html {
    overflow-x: hidden;
}

header h1 {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}


/* Abaixo seção do cabeçalho*/

header {
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
    font-size: 15pt;
    
}


nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 24px; 
}

.menu-hamburguer span {
    height: 2px;
    width: 40px; 
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
}

/*Abaixo seção sobre a loja*/

.container-flex {
    display: flex;
    
} 

#sobre-a-loja img{
    max-width: 400px;
    margin-right: 30px;
    margin-top: 24px;
}

section{
    padding: 48px 0;
}

section h2{
    margin-bottom: 16px;
}

/* Abaixo  seção de Destaque */

.lista-veiculos li {
    list-style: none;
    max-width: 30%;
}







